<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <% products.forEach(product => { %>
                <li><%= product.productData.title %> (<%= product.qty %>)</li>
             <% }) %>   
        <% } else { %>
            <h1>No product available in your cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>